@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&family=Wix+Madefor+Text&display=swap');

/*Estilização do corpo do site*/

.panelBody {
  font-family: "Montserrat",Helvetica,Arial;
}

/*Navbar e sub-bar*/

.navbar {
  width: 100%;
  height: 6vh;
  background-color: #1c1c31;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subBar {
  display: flex;
  height: 8vh;
  background-color: #292944;
  position: relative;
  justify-content: center;
  align-items: center;
}

.subBar p {
  font-size: 2vw;
  color: #00B6CA;
  height: 2.5dvh;
  text-transform: uppercase;
  position: relative;
  vertical-align: middle;
  margin: 0 !important;
  line-height: 20px;
  font-weight: 700;
}

.subbarLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  height: auto;
  margin-right: 0.85rem;
  margin-left: auto;
  gap: 1.5rem;
}

/*Logos da ETPC*/

.logo {
  width: 35vw;
  height: auto;
  cursor: pointer;
}

.logo2 {
  width: 15vw;
  height: auto;
  cursor: pointer;
}


/*Menu hamburguer*/

.container1 {
  height: auto;
  margin-left: 1rem;
  display: block;
  position: static;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 7dvw;
  height: auto;
  min-height: 0.45dvh;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.listmenu {
  width: 30%;
  height: 5%;
  display: none;
  position: absolute;
  bottom: 0%;
  left: 6.5%;
  right: 0%;
  top: 8.5%;
}

.barrmenulink {
  font-size: 0.8vw;
  width: 25%;
  height: 55%;
  border-radius: 5px;
  transition: 0.5s;
  background:#edb70f;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;

}

.barrmenulink:hover {
  background:#ca9b01;
}

.barrmenulink:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

@keyframes showUp {
  0% {
    opacity: 0;
    
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    
  }
  100% {
    opacity: 1;
    
  }
}

/*Barra de redes sociais*/

.barSocial {
  width: 10%;
  height: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  text-align: center;
  font-size: 4.25vw;
  position: relative;
}

.barSocial i {
  width: 2vw;
  height: auto;
  display: block;

  transition: 0.5s;
  color: #00b6ca;
}

.barSocial i:hover {
  color:#018291
}

/*Posicionamento dos botões dos cards*/

.row {
  height: 88%;
}

.col {
  height: auto;
  max-height: 60%;
  align-items: center;
  justify-content: center;
  font-size: 3vw;
}

.col p {
  color: #292944;
  font-size: 2.25vw;
  line-height: 15px;
  padding-top: 15px;
  line-height: 1;
  font-weight: 400;
  text-align: center;
}

/*Textos*/

.panelTitle {
  color: #1c1c31;
  font-size: 8vw;
  text-align: center;
  padding-top: 1.5rem;
  letter-spacing: -1px;
}

.cardTitle {
  color: #edb70f;
  background: linear-gradient(to top, rgba(24, 28, 34, 0.65), transparent);

  width: 100%;
  height: 100%;
  max-height: 12%;

  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;

  font-size: 0.65rem;
  font-weight: 700 !important;

  margin: 0;

  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 0;

  padding-left: 6.5%;
  padding-right: 6.5%;
  padding-bottom: 1rem;


  transition: max-height 0.3s ease-in-out;
  overflow: hidden;

}

.intDescription {
  color: #292944;
  font-size: 2.25vw;
  line-height: 15px;
  padding-top: 1.5rem;
  margin-bottom: -10px;
  font-weight: 400;
  text-align: center;
}

dialog {
  color: transparent;
}

/*Imagens de background*/

.enfeite1 {
  position: relative;
  float: right;
  margin-top: 0.5rem;
  width: 8.5%;
  margin-right: 0.5rem;
  height: auto;
}

.enfeite2 {
  position: relative;
  left: 0;
  width: 8.5%;
  bottom: 0.5rem;
  margin-left: 0.5rem;
  height: auto;
}

/*Cards*/

.cardContainer {
  background-position: center;
  background-size: cover;
  background-color: #f8f9fa;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}

.card {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  cursor: default;

  width: 38vw;
  height: 30vh;

  border-radius: 10px;
  margin: 2rem 1rem 0 1rem;

  transition: all .5s;
  opacity: 0.9;
}

.cardDescription {
  width: 85%;
  max-width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  gap: 0.7rem;

  position: absolute;
  top: 0;
  left: auto;

  justify-content: center;
  align-items: center;
  vertical-align: middle;

  opacity: 0;

  color: white;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.cardsGrid {  
  height: auto;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cardDescription p {
  font-size: 0.45rem;
  padding: 2.5vh 0 0 0;
  margin: 0 !important;
  color: white;
}

.cardDescription a {
  font-size: 0.75rem;
  padding-left: 0.5rem;
}

.card button {
  width: 50%;
  height: auto;
  cursor: pointer;
  outline: none;
  position: relative;
  left: 0;
  font-size: 0.45rem;
  font-weight: 700;
  border: 0;
  border-radius: 20px;
  padding: 4px 0;
  margin: 0 !important;
  color: #292944;
  background: #edb700;
  transition: all .5s ease;
}

.cardCutomScrollbar::-webkit-scrollbar {
  width: 1.25dvw;
}

.cardCutomScrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.cardCutomScrollbar::-webkit-scrollbar-thumb {
  background: #edb70f;
  border-radius: 0.65rem;
}

.cardCutomScrollbar::-webkit-scrollbar-thumb:hover {
  background: #ca9b01;
}

.card:hover img {
  --tw-brightness: brightness(.75);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.card button:hover {
  background:#ca9b01;
}

.card:hover {
  transform: translateY(-10px);
  opacity: 1;
}
.card:hover .cardDescription {
  opacity: 1;
}

/*Pop-ups da reserva*/

.cardModalContainer {
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  justify-content: center;
  left: 0;
  height: 100vh;
  width: 100vw;
  animation: .4s showUp ease-in-out;
}

.cardModal {
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  padding: 1.25rem 1.5rem;
  width: auto;
  max-width: 100%;
  gap: 0.25rem;
  text-align: center;
  color: #1c1c31;
  animation: .8s showUp ease-in-out;
}

.cardModal h1 {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  color: black;
  font-weight: 600;
}

.cardModal p {
  font-size: 0.5rem;
  color: #1c1c31;
  margin: 0 !important;
  padding: 0;
}

.equipList {
  font-size: 0.5rem;
}

.cardModal li {
  margin-top: 5px;
  font-weight: 500;
}

.cardModal ul {
  list-style-type: disc;
}

.cardModalContainerBtt button {
  width: 35%;
  color: #292944;
  /* font-size: 1vw; */
  font-size: 0.5rem;
  font-weight: 600;
  padding: 0.65rem;

  background: #edb700;
  border: 0;
  border-radius: 20px;

  outline: none;
  cursor: pointer;

  margin-top: 2.5dvh;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.cardModalDialog {
  width: 100%;
  max-width: 90vw;
}

/*Nome de usuário e animação*/

.user {
  position: absolute;
  left: 0px;
  top: 16.5%;
  width: 15vw;
  height: 8vh;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
  background: #00b6ca;
  color: white;
  font-family: 'poppins',sans-serif;

  animation-delay: 0s;

  animation: slidein 3.5s ease-in-out forwards;
  -o-animation: slidein 3.5s ease-in-out forwards;
  -moz-animation: slidein 3.5s ease-in-out forwards;
  -webkit-animation: slidein 3.5s ease-in-out forwards;
  -ms-zoom-animation: slidein 3.5s ease-in-out forwards;

  animation-direction: alternate;
}

@-webkit-keyframes slidein {
0% {
  opacity: 0;
  transform: translateY(-60%);
}
20% {
  opacity: 0;
}
50% {
  opacity: 1;
  transform: translateY(0%);
}
70% {
  opacity: 1;
  transform: translateY(0%);
}
100% {
  opacity: 1;
  transform: translateY(0%);
  transform: translateX(-100%);
  opacity: 0;
}
}

@-o-keyframes slidein {
0% {
  opacity: 0;
  transform: translateY(-60%);
}
20% {
  opacity: 0;
}
50% {
  opacity: 1;
  transform: translateY(0%);
}
70% {
  opacity: 1;
  transform: translateY(0%);
}
100% {
  opacity: 1;
  transform: translateY(0%);
  transform: translateX(-100%);
  opacity: 0;
}
}

@-moz-keyframes slidein {
0% {
  opacity: 0;
  transform: translateY(-60%);
}
20% {
  opacity: 0;
}
50% {
  opacity: 1;
  transform: translateY(0%);
}
70% {
  opacity: 1;
  transform: translateY(0%);
}
100% {
  opacity: 1;
  transform: translateY(0%);
  transform: translateX(-100%);
  opacity: 0;
}
}

@-ms-keyframes slidein {
0% {
  opacity: 0;
  transform: translateY(-60%);
}
20% {
  opacity: 0;
}
50% {
  opacity: 1;
  transform: translateY(0%);
}
70% {
  opacity: 1;
  transform: translateY(0%);
}
100% {
  opacity: 1;
  transform: translateY(0%);
  transform: translateX(-100%);
  opacity: 0;
}
}

@keyframes slidein {
0% {
  opacity: 0;
  transform: translateY(-60%);
}
20% {
  opacity: 0;
}
50% {
  opacity: 1;
  transform: translateY(0%);
}
70% {
  opacity: 1;
  transform: translateY(0%);
}
100% {
  opacity: 1;
  transform: translateY(0%);
  transform: translateX(-100%);
  opacity: 0;
}

}

/*Contato ETPC */

.footer {
  background-color: #333;
  color: #fff;
  position: relative;
  width: 100%;
  clear: both;
}

.footer .rodapeContent {
  width: 100%;
  height: 45vh;
  background-color: #292944;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contatosLogo {
  width: 30vw;
}

.contatosEtpc {
  width: 95%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.primeiraColuna {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contatosSub {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contatosSub h4 {
  color: white;
  font-weight: bold;
  font-size: 2vw;
}

.inputContato {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  margin-bottom: 1dvh;
}

.inputContato h3 {
  color: #03cfe6;
  cursor: pointer;
  transition: 0.3s;
  font-size: 3vw;
  vertical-align: middle;
}

.inputContato h3:hover {
  color: white;
}

.inputContato input {
  color: black;
  outline: none;
  width: 30vw;
  border-radius: 0.15rem;
  padding: 0.15rem;
}

.restoContatosSub {
  display: flex;
  flex-direction: column;
  margin-top: 0.2rem;
  gap: 1rem;
  font-size: 1.85vw;
}

.restoContatosSub span {
  color: white;
}

.restoContatosSub h3 {
  color: white;
  font-size: 1.85vw;
}

.segundaColunaLinks {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  font-size: 0.45rem;
  
}

.segundaColunaLinks a {
  text-decoration: none;
  color: #D9D9D9;

  font-weight: bold;
  transition: 0.3s;
}

.segundaColunaLinks a:hover {
  color: #a5a5a5;
}

.terceiraColunaSocial {
  height: auto;
  align-items: end;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.terceiraColunaSocial i {
  font-size: 1.65rem;
  text-decoration: none;
  color: white;
  transition: 0.3s;
  display: flex;
}

.terceiraColunaSocial i:hover {
  color: #9e9e9e;
}

.footer .footerTag {
  width: 100%;
  height: 10.5vh;
  background: #00B6CA;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tagContent {
  width: 95%;
  display: flex;
  height: 10vh;
  align-items: center;
  gap: 0.65rem;
}

.tagContent span {
  color: white;
  font-size: 0.35rem;
}

.etpcDireitos {
  width: 80%;
  display: flex;
  align-items: center;
  text-align: start;
}

.etpcDireitos p {
  color: white;
  font-size: 0.35rem;
  font-weight: 500;
  margin: 0;
}

.logoAce {
  width: 20%;
  display: flex;
  justify-content: end;
}

.logoAce img {
  height: auto;
  min-height: 5vh;
  opacity: 0.6;
  transition: 0.3s;
}

.logoAce img:hover {
  opacity: 1;
  cursor: pointer;
}

/* Agenda com range de datas e horários  */

.datePickerWrapper {
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}

.dateRangeToggle {
  display: flex;
  gap: 4px;
}

.dateRangeToggle button {
  background-color: #e5e5e5;
  border: none; 
  border-radius: 4px; 
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;

  font-size: 0.5rem;
  font-weight: 600;

  outline: none;
  margin-top: 2.5dvh;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.dateRangeToggle button:hover {
  background-color: #e0e0e0;
}

.dateRangeToggle button.active {
  background-color: #d0d0d0;
}

.dateRangeToggle .label {
  font-size: 14px;
  color: #333;
}

.dateRangeToggle .selectedDate {
  font-size: 12px;
  color: #666;
}

.clearDateBtt {
  margin: 0 !important;
  width: auto;
  height: auto;
  border-radius: 1rem !important;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  display: flex;
  float: inline-end;
  background-color: #e5e5e5;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  color: #292944;
  font-size: 0.5rem;
  font-weight: 600;
  outline: none;
  appearance: inherit;
  -webkit-appearance: button;
  text-transform: none;
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

.datePickerWrapper :global(.react-datepicker) {
  max-width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.datePickerWrapper :global(.react-datepicker__navigation--previous) {
  left: -16%;
}

.datePickerWrapper :global(.react-datepicker__navigation--next--with-time):not(:global(.react-datepicker__navigation--next--with-today-button)) {
  right: -16%;
}

.datePickerWrapper :global(.react-datepicker__navigation) {
  align-items: center;
  background: none !important;
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: pointer !important;
  position: absolute;
  top: 2px;
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
  z-index: 1;
  height: 32px;
  width: 7.5rem !important;
  text-indent: -999em;
  overflow: hidden;
}

.datePickerWrapper :global(.react-datepicker__header--time) {
  height: 3.65rem;
  align-items: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
}

@media (max-width:641px)  {
  .datePickerWrapper :global(.react-datepicker__time-container) {
    width: 19dvw;
  }
  
  .datePickerWrapper :global(.react-datepicker__time) {
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    display: flex;
  }
}

/* Panel Sidebar */

.sidebarUnlocked {
  position: fixed !important;
  height: 100% !important;
  width: 100% !important;
  z-index: 1100 !important;
}

.sidebarLocked {
  position: sticky !important;
  height: 100vh !important;
}

/*Ajustes de tela para todos os dispositivos*/

@media (min-width:280px) {}

@media (min-width:320px) {}

@media (min-width:481px)  {}

@media (max-width:641px)  {}

@media (min-width:961px)  {}

@media (min-width:1024px) {}

@media (min-width:1281px) {}