@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;1,100&family=Wix+Madefor+Text&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat'
}


header {
  width: 100%;

}

/* Barra Fundacao CSN*/

.navFundationCSN {
  width: 100%;
  height: 4.3vh;
  background: #24243a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navFundationCSN img {
  width: 1.9rem;
  margin-right: 0.3rem;
}

.navFundationCSN p {
  color: white;
  font-family: 'Montserrat';
  font-size: 17px;
  font-weight: bold;
}

/* Barra LINKS */

.NavLinks {
  width: 100%;
  height: 3.6vh;
  background: #292944;
  display: flex;
  align-items: center;
}

.menu-nav {
  margin-left: 12rem;
  font-size: 25px;
  color: #00B6CA;
  cursor: pointer;
}

.NavLinks .subbarLinks {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 10%;
  gap: 1.8rem;
}

.NavLinks .subbarLinks p {
  font-size: 14px;
  color: #00B6CA;

}

.barSocial {
  width: 5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  background: #3e3e57;
}

.barSocial img {
  width: 1.3rem;
  margin-top: 0.3rem;
}

/* Barra LOGO */

.BarLogo {
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}


/* Titulo da Pagina: SALAS DISPONIVEIS */

.main-title {
  width: 100%;
  height: 17.5vh;
  background: #edb700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  text-align: center;
  gap: 1%;

}

.main-title h1 {
  color: #1c1c31;
  font-size: 35px;
  
}

.text-title {
  width: 50%;
}

.main-title p {
  color: #1c1c31;
  font-size: 21px;
}

@media screen and (max-width: 1010px) {
  .main-title h1 {
    font-size: 30px;
  }

  .main-title p {
    font-size: 18px;
  }
  
}

@media screen and (max-width: 815px) {
  .main-title h1 {
    font-size: 27px;
  }

  .main-title p {
    font-size: 16px;
  }
  
}

@media screen and (max-width: 500px) {
  .main-title h1 {
    font-size: 25px;
  }

  .main-title p {
    font-size: 13px;
  }
  
}

/* Carrosel de Salas */

.mainCarrosel {
  width: 100%;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  gap: 14vh;
}

.background-effects .enfeite1 img {
  position: absolute;
  top: 43%;
  right: 6%;
}

.background-effects .enfeite2 img {
  position: absolute;
  top: 80%;

}

.wrapper {
  display: flex;
  max-width: 1370px;
  position: relative;
}

.wrapper i {
  top: 50%;
  height: 55px;
  width: 55px;
  color: #343F4F;
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  text-align: center;
  line-height: 55px;
  background: #00B6CA;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  transition: 0.3s;
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.9);

}

.wrapper i:hover {
  background: #edb700;
}

.wrapper i:first-child {
  left: -22px;
  display: none;
}

.wrapper i:last-child {
  right: -22px;
}

.wrapper .carousel {
  font-size: 0px;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;

}

.carousel.dragging {
  scroll-behavior: auto;
}

.carousel.dragging img {
  pointer-events: none;
}

.carousel button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.carousel img {
  height: 340px;
  user-select: none;
  border-radius: 8px;
  width: calc(370% / 4);
  border: 5px solid #24243a;
}

.carousel img:first-child {
  margin-left: 0px;
}

@media screen and (max-width: 900px) {
  .carousel img {
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel img {
    width: 80%;
  }
}

@media screen and (max-width: 1400px) {
  
  .wrapper{
    max-width: 900px;
  }


  .carousel img {
    width: calc(360% /4);
    height: 310px;

  }

}







/* RODAPE STYLE */

