@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&family=Wix+Madefor+Text&display=swap');

/*Estilização do corpo do site*/

html {
  scroll-behavior: smooth;
}

body {
    background-color: #f8f9fa;
    font-family: "Montserrat",Helvetica,Arial;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat",Helvetica,Arial;
}

.container {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-color: #f8f9fa;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;

}




/*Navbar e sub-bar*/

.navbar {
    width: 100%;
    height: 6vh;
    background-color: #1c1c31;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 1s anim-lineDown2 ease-in;
}

.sub-bar {
    display: flex;
    height: 8vh;
    background-color: #292944;
    justify-content: center;
    align-items: center;
    animation: 1s anim-lineDown2 ease-in;
}

.sub-bar p {
    font-size: 1vw;
    margin: 0;
    color: #00B6CA;
    width: 9%;
    height: 2%;
    text-transform: uppercase;
    position: absolute;
    bottom: 0%;
    left: 83%;
    right: 0%;
    top: 9%;
    animation: 1s anim-lineDown2 ease-in;

}



/*Logos da ETPC*/

.logo {
    width: 12vw;
    height: auto;
    cursor: pointer;
}

.logo2 {
    width: 7vw;
    height: auto;
    padding-top: 4px;
    cursor: pointer;
}


/*Menu hamburguer*/

.container1 {
  width: 2.6%;
  height: 4%;
    display: block;
    position: absolute;
    bottom: 0%;
    left: 2%;
    right: 0%;
    top: 7.5%;
    cursor: pointer;
    animation: 1.2s anim-lineDown2 ease-in;
}

.bar1,
.bar2,
.bar3 {
    width: 2.5vw;
    height: auto;
    min-height: 0.6vh;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.listmenu {
  width: 30%;
  height: 5%;
  display: none;
  position: absolute;
  bottom: 0%;
  left: 6.5%;
  right: 0%;
  top: 8.5%;
}

.barrmenulink {
  font-size: 0.8vw;
  width: 25%;
  height: 55%;
  border-radius: 5px;
  transition: 0.5s;
  background:#edb70f;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;

}

.barrmenulink:hover {
  background:#ca9b01;
}

.barrmenulink:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}



@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes anim-lineDown {
  100% {
    opacity: 0;
    transform: translateY(80%);
  }
  50% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: translateY(0%);
  }
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes anim-lineDown2 {
  0% {
    opacity: 0;
    transform: translateY(-15%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes showUp {
  0% {
    opacity: 0;
    
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    
  }
  100% {
    opacity: 1;
    
  }
}




/*Barra de redes sociais*/

.barSocial {
  width: 10%;
  height: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  text-align: center;
  display: block;
  position: absolute;
  bottom: 0%;
  left: 90%;
  right: 0%;
  top: 7.5%;
  animation: 1.2s anim-lineDown2 ease-in;
}

.barSocial i {
  width: 25%;
  height: auto;
  font-size: 2.3vw;
  transition: 0.5s;
  color: #00b6ca;
  animation: 1.2s anim-lineDown2 ease-in;

}

.barSocial i:hover {
  color:#018291
}




/*Posicionamento dos botões dos cards*/


.row {
    height: 88%;
    animation: 3s showUp ease-in;

}

.col {
    flex-basis: 50%;
    height: auto;
    max-height: 60%;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
}

.col p {
  color: #292944;
  font-size: 1.4vw;
  line-height: 15px;
  padding-top: 15px;
  line-height: 1;
  font-weight: 400;
  text-align: center;
}

.col button {
  width: 160px;
  color: #292944;
  font-size: 21px;
  font-weight: 700;
  padding: 12px 0;
  background: #edb700;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
  cursor: pointer;
  margin-left: 46%;
}





/*Textos*/

h1 {
    color: #1c1c31;
    font-size: 6vw;
    text-align: center;
    margin-top: 40px;
    letter-spacing: -1px;
}

h5 {
    color: #edb70f;
    font-size: 1.5vw;
    font-weight: 700;
    text-align: center;
    padding-top: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background: linear-gradient(
        to bottom,
        rgba(24, 28, 34, 0.65),
        transparent
    );

}

h6 {
  color: #292944;
  font-size: 1.3vw;
  line-height: 15px;
  padding-top: 40px;
  margin-bottom: -10px;
  font-weight: 400;
  text-align: center;
}

p {
  color: #00b6ca;
  font-size: 15px;
  line-height: 20px;
  margin-top: 2px;
  margin-bottom: -10px;
  font-weight: 700;
}

dialog {
  color:transparent;
}




/*Imagens de background*/


.background-effects .enfeite1 img {
  position: absolute;
  top: 16%;
  right: 1%;
  width: 8.5%;
  height: auto;
  animation: 5s anim-lineDown2 ease-in;
}

.background-effects .enfeite2 img {
  position: absolute;
  top: 80%;
  width: 8.5%;
  height: auto;
  animation: 5s anim-lineUp ease-out;

}






/*Cards*/


.card {
    width: 13vw;
    height: 40vh;
    display: inline-block;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition-duration: 0.5s;
    margin-top: 50px;
    margin-left: 40px;
    box-shadow: 0 -0.8rem 1rem rgba(0 0 0 / 0.15);
}

.card1 {
    background-image: url(img/pic5.jpeg);
}

.card2 {
    background-image: url(img/pic1.jpeg);
}

.card3 {
    background-image: url(img/pic2.jpeg);
}

.card4 {
    background-image: url(img/pic3.jpeg);
}

.card5 {
    background-image: url(img/pic4.jpeg);
}


.card:hover {
    transform: translateY(-10px);
}







/*Pop-ups da reserva*/

.modal-container {
    background-color: rgba(0, 0, 0, 0.25);
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    justify-content: center;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.modal {
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    padding: 30px 50px;
    width: 27%;
    max-width: 100%;
    text-align: center;
    color: #1c1c31;
}

.modal h1 {
    margin: 0;
    font-size: 2vw;
    color: black;
    font-weight: 600;
    margin-bottom: 20px;
    text-decoration: underline;
}

.modal p {
    font-size: 0.5vw;
    color: #1c1c31;

}

.modal li {
    margin-top: 5px;
    font-weight: 500;
}

.modal-container button {
    width: 35%;
    color: #292944;
    font-size: 1vw;
    font-weight: 800;
    padding: 12px 0;
    background: #edb700;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
    cursor: pointer;
    margin-right: 15px;
}

.poupup-container {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.poupup {
    background-color: whitesmoke;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 16px;
    width: 360px;
    height: 500px;
    padding: 20px 20px;
}


.poupup-topo {
    display: flex;
    padding: 20px;
}

.bola-agenda {
    width: 58px;
    height: 57px;
    background: linear-gradient(0deg, #EDB700 0%, #EDB700 100%),
        linear-gradient(0deg, #EDB700 0%, #EDB700 100%);
    border-radius: 9999px;
    margin-bottom: 10px;
}

.barra-1 {
    width: 70px;
    height: 4px;
    background: rgba(237, 183, 0, 0.22);
    margin-top: 25px;
}

.bola-agenda img {
    width: 40px;
    margin-top: 15%;
    margin-left: 8.5px;
}

.bola-pagamento {
    width: 58px;
    height: 57px;
    background: rgba(237, 183, 0, 0.22);
    border-radius: 9999px;
    margin-bottom: 10px;
}

.bola-pagamento p {
    font-size: 38px;
    font-family: Arial, sans-serif;
    margin-top: 34%;
    margin-left: 18.5px;
    color: rgba(0, 0, 0, 0.22);
}

.bola-pagamento2 {
    width: 58px;
    height: 57px;
    background: rgba(237, 183, 0, 1);
    border-radius: 9999px;
    margin-bottom: 10px;
}

.bola-pagamento2 p {
    font-size: 38px;
    font-family: Arial, sans-serif;
    margin-top: 34%;
    margin-left: 18.5px;
    color: black;
}

.barra-1-1 {
    width: 70px;
    height: 4px;
    background: rgba(237, 183, 0, 1);
    margin-top: 25px;
}

.barra-2 {
    width: 70px;
    height: 4px;
    background: rgba(237, 183, 0, 0.22);
    margin-top: 25px;
}

.barra-2-1 {
    width: 70px;
    height: 4px;
    background: rgba(237, 183, 0, 1);
    margin-top: 25px;
}

.bola-verificar {
    width: 58px;
    height: 57px;
    background: rgba(237, 183, 0, 0.22);
    border-radius: 9999px;
    margin-bottom: 10px;
}

.bola-verificar2 {
    width: 58px;
    height: 57px;
    background: rgba(237, 183, 0, 1);
    border-radius: 9999px;
    margin-bottom: 10px;
}

.bola-verificar img {
    width: 38px;
    margin-top: 18%;
    margin-left: 10px;
    opacity: 0.22;
}

.bola-verificar2 img {
    width: 38px;
    margin-top: 18%;
    margin-left: 10px;

}

.sub-poupup {
    background-color: #D9D9D9;
    border-radius: 16px;
    height: 400px;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sub-poupup form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.sub-poupup .verificamento {
    display: flex;
    flex-direction: column;
}

.sub-poupup .data {
    background-color: #EDB700;
    border-radius: 10px;
    font-size: large;
    padding: 20px 10px;
    font-family: "Roboto Mono", monospace;
    color: #1c1c31;
    font-size: 18px;
    border: none;
    outline: none;

}


.sub-poupup select {
    background-color: #EDB700;
    border-radius: 10px;
    font-family: "Roboto Mono", monospace;
    padding: 10px 40px;
    width: 30px;
    color: #1c1c31;
    font-size: 18px;
    border: none;
    outline: none;
    height: 50px;
    width: 150px;

}

.sub-poupup p {
    color: #1c1c31;
    font-size: 15px;

}

.sub-poupup button {
    width: 110px;
    height: 40px;
    color: #292944;
    font-size: 18px;
    font-weight: 700;
    background: #edb700;
    border: 0;
    border-radius: 8cm;
    outline: none;
    cursor: pointer;
    
}

.sub-poupup .btn-dolado button {
    width: 140px;
    height: 60px;
    color: #292944;
    font-size: 21px;
    font-weight: 700;
    background: #edb700;
    border: 0;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 10px;
    
}







/*Nome de usuário e animação*/

.user {
  position: absolute;
  left: 0px;
  top: 16.5%;
  width: 15vw;
  height: 8vh;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
  background: #00b6ca;
  color: white;
  font-family: 'poppins',sans-serif;

  animation-delay: 0s;

  animation: slidein 3.5s ease-in-out forwards;
  -o-animation: slidein 3.5s ease-in-out forwards;
  -moz-animation: slidein 3.5s ease-in-out forwards;
  -webkit-animation: slidein 3.5s ease-in-out forwards;
  -ms-zoom-animation: slidein 3.5s ease-in-out forwards;

  animation-direction: alternate;
  


}

@-webkit-keyframes slidein {
  0% {
    opacity: 0;
    transform: translateY(-60%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  70% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
    transform: translateX(-100%);
    opacity: 0;
  }
}

@-o-keyframes slidein {
  0% {
    opacity: 0;
    transform: translateY(-60%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  70% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
    transform: translateX(-100%);
    opacity: 0;
  }
}

@-moz-keyframes slidein {
  0% {
    opacity: 0;
    transform: translateY(-60%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  70% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
    transform: translateX(-100%);
    opacity: 0;
  }
}

@-ms-keyframes slidein {
  0% {
    opacity: 0;
    transform: translateY(-60%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  70% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slidein {
  0% {
    opacity: 0;
    transform: translateY(-60%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  70% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
    transform: translateX(-100%);
    opacity: 0;
  }

}






/*Contato ETPC */

#footer .rodape-content {
  width: 100%;
  height: 45vh;
  background-color: #292944;
  padding: 40px 0 60px 0;
  margin-top: 10rem;
  display: flex;
  justify-content: center;

}

.contatos-logo {
  width: 8vw;
}

.contatos-etpc {
  width: 85%;
  height: 40vh;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  margin-left: 10rem;
}

.primeira-coluna {
  width: 40%;
  height: 42vh;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contatos-sub {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contatos-sub h8 {
  color: white;
  font-weight: bold;
  font-size: 1vw;
}

.input-contato {
  display: flex;
  gap: 0.3rem;
  margin-bottom: 2rem;
}

.input-contato h3 {
  color: #03cfe6;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1vw;
}

.input-contato h3:hover {
  color: white;
}

.input-contato input {
  outline: none;
  width: 10vw;
}

.resto-contatos-sub {
  display: flex;
  flex-direction: column;
  margin-top: 0.2rem;
  gap: 1rem;
}

.resto-contatos-sub p1 {
  color: white;
  font-size: 0.85vw;
}

.resto-contatos-sub h3 {
  color: white;
  font-size: 1vw;
}

.segunda-coluna-links {
  width: 23%;
  height: 42vh;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  
}

.segunda-coluna-links a {
  text-decoration: none;
  color: #D9D9D9;
  font-size: 0.7vw;
  font-weight: bold;
  transition: 0.3s;
}

.segunda-coluna-links a:hover {
  color: #a5a5a5;
}

.terceira-coluna-social {
  height: 42vh;
  align-items: end;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  gap: 0.3rem;
}

.terceira-coluna-social i {
  font-size: 1.3vw;
  text-decoration: none;
  color: white;
  margin-right: 3rem;
  transition: 0.3s;
}

.terceira-coluna-social i:hover {
  color: #9e9e9e;
}

#footer .footer-tag {
  width: 100%;
  height: 10.5vh;
  background: #00B6CA;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tag-content {
  width: 70%;
  display: flex;
  height: 10vh;
  align-items: center;
}

.tag-content p1 {
  width: 35%;
  color: white;
  font-size: 0.85vw;
}

.etpc-direitos {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: start;
}

.etpc-direitos p {
  color: white;
  font-size: 0.85vw;
  font-weight: 500;
}

.logo-ace {
  display: flex;
  justify-content: end;
}

.logo-ace img {
  width: 5vw;
  height: auto;
  min-height: 5vh;
  opacity: 0.6;
  transition: 0.3s;
}

.logo-ace img:hover {
  opacity: 1;
}




/*Ajustes de tela para todos os dispositivos*/
  
@media (min-width:280px) {}

@media (min-width:320px) {}

@media (min-width:481px)  {}

@media (min-width:641px)  {}

@media (min-width:961px)  {}

@media (min-width:1024px) {}

@media (min-width:1281px) {}