@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&family=Wix+Madefor+Text&display=swap');
@import 'primereact/resources/primereact.css';
@import 'primereact/resources/themes/lara-light-indigo/theme.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';

/*Estilização do corpo do site*/

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat",Helvetica,Arial;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body {
  background-color: #f8f9fa;
  font-family: "Montserrat",Helvetica,Arial;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #757575;
  border-radius: 0.65rem;
}

html::-webkit-scrollbar-thumb:hover {
  background: #757575a1;
}

@supports not selector(::-webkit-scrollbar) {
  html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #757575 transparent;
  }
}

/*Navbar e sub-bar*/

.navbar {
  width: 100%;
  height: 6vh;
  background-color: #1c1c31;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 1s anim-lineDown2 ease-in;
}

.sub-bar {
  display: flex;
  height: 8vh;
  background-color: #292944;
  position: relative;
  justify-content: center;
  align-items: center;
  animation: 1s anim-lineDown2 ease-in;
}

.sub-bar p {
  font-size: 2vw;
  color: #00B6CA;
  height: 2.5dvh;
  text-transform: uppercase;
  position: relative;
  animation: 1s anim-lineDown2 ease-in;
  vertical-align: middle;
  margin: 0 !important;
}

.subbarLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  height: auto;
  margin-right: 0.85rem;
  margin-left: auto;
  gap: 1.5rem;
}

/*Logos da ETPC*/

.logo {
  width: 35vw;
  height: auto;
  cursor: pointer;
}

.logo2 {
  width: 15vw;
  height: auto;
  cursor: pointer;
}


/*Menu hamburguer*/

.container1 {
  height: auto;
  margin-left: 1rem;
  display: block;
  position: static;
  cursor: pointer;
  animation: 1.2s anim-lineDown2 ease-in;
}

.bar1,
.bar2,
.bar3 {
  width: 7dvw;
  height: auto;
  min-height: 0.45dvh;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.listmenu {
  width: 30%;
  height: 5%;
  display: none;
  position: absolute;
  bottom: 0%;
  left: 6.5%;
  right: 0%;
  top: 8.5%;
}

.barrmenulink {
  font-size: 0.8vw;
  width: 25%;
  height: 55%;
  border-radius: 5px;
  transition: 0.5s;
  background:#edb70f;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;

}

.barrmenulink:hover {
  background:#ca9b01;
}

.barrmenulink:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes anim-lineDown {
  100% {
    opacity: 0;
    transform: translateY(80%);
  }
  50% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: translateY(0%);
  }
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes anim-lineDown2 {
  0% {
    opacity: 0;
    transform: translateY(-15%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes showUp {
  0% {
    opacity: 0;
    
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    
  }
  100% {
    opacity: 1;
    
  }
}

/*Barra de redes sociais*/

.barSocial {
  width: 10%;
  height: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  text-align: center;
  font-size: 4.25vw;
  position: relative;
  animation: 1.2s anim-lineDown2 ease-in;
}

.barSocial i {
  width: 2vw;
  height: auto;
  display: block;

  transition: 0.5s;
  color: #00b6ca;

  animation: 1.2s anim-lineDown2 ease-in;
}

.barSocial i:hover {
  color:#018291
}

/*Posicionamento dos botões dos cards*/

.row {
  height: 88%;
  animation: 3s showUp ease-in;

}

.col {
  height: auto;
  max-height: 60%;
  align-items: center;
  justify-content: center;
  font-size: 3vw;
}

.col p {
  color: #292944;
  font-size: 2.25vw;
  line-height: 15px;
  padding-top: 15px;
  line-height: 1;
  font-weight: 400;
  text-align: center;
}

.col button {
  width: 160px;

  font-size: 21px;
  font-weight: 700;

  cursor: pointer;
  outline: none;

  padding: 12px 0;
  
  border: 0;
  border-radius: 20px;

  margin-top: 30px;
  margin-left: 46%;

  color: #292944;
  background: #edb700;
  transition: all .5s ease;
}

.col button:hover {
  background:#ca9b01;
}


/*Textos*/

h1 {
  color: #1c1c31;
  font-size: 8vw;
  text-align: center;
  margin-top: 1.5rem;
  letter-spacing: -1px;
}

h5 {
  color: #edb70f;
  background: linear-gradient(to top, rgba(24, 28, 34, 0.65), transparent);

  width: 100%;
  height: 100%;
  max-height: 12%;

  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;

  font-size: 0.65rem;
  font-weight: 700;

  margin: 0;

  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 0;

  padding-left: 6.5%;
  padding-right: 6.5%;
  padding-bottom: 1rem;


  transition: max-height 0.3s ease-in-out;
  overflow: hidden;

}

h6 {
  color: #292944;
  font-size: 2.25vw;
  line-height: 15px;
  padding-top: 1.5rem;
  margin-bottom: -10px;
  font-weight: 400;
  text-align: center;
}

p {
  color: #00b6ca;
  font-size: 15px;
  line-height: 20px;
  margin-top: 2px;
  margin-bottom: -10px;
  font-weight: 700;
}


dialog {
  color:transparent;
}

/*Imagens de background*/

.enfeite1 {
  position: relative;
  float: right;
  margin-top: 0.5rem;
  width: 8.5%;
  margin-right: 0.5rem;
  height: auto;
  animation: 5s anim-lineDown2 ease-in;
}

.enfeite2 {
  position: relative;
  left: 0;
  width: 8.5%;
  bottom: 0.5rem;
  margin-left: 0.5rem;
  height: auto;
  animation: 5s anim-lineUp ease-out;

}

/*Cards*/

.card-container {
  background-position: center;
  background-size: cover;
  background-color: #f8f9fa;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}

.card {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  cursor: default;

  width: 38vw;
  height: 30vh;

  border-radius: 10px;
  margin: 2rem 1rem 0 1rem;

  transition: all .5s;
  opacity: 0.9;
}

.card-description {
  width: 85%;
  max-width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  gap: 0.7rem;

  position: absolute;
  top: 0;
  left: auto;

  justify-content: center;
  align-items: center;
  vertical-align: middle;

  opacity: 0;

  color: white;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.cards-grid {  
  height: auto;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card-description p {
  font-size: 0.45rem;
  padding: 2.5vh 0 0 0;
  margin: 0 !important;
  color: white;
}

.card-description a {
  font-size: 0.75rem;
  padding-left: 0.5rem;
}

.card button {
  width: 50%;
  height: auto;
  cursor: pointer;
  outline: none;
  position: relative;
  left: 0;
  font-size: 0.45rem;
  font-weight: 700;
  border: 0;
  border-radius: 20px;
  padding: 4px 0;
  margin: 0 !important;
  color: #292944;
  background: #edb700;
  transition: all .5s ease;
}

.card-custom-scrollbar::-webkit-scrollbar {
  width: 1.25dvw;
}

.card-custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.card-custom-scrollbar::-webkit-scrollbar-thumb {
  background: #edb70f;
  border-radius: 0.65rem;
}

.card-custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #ca9b01;
}

.card:hover img {
  --tw-brightness: brightness(.75);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.card button:hover {
  background:#ca9b01;
}

.card:hover {
  transform: translateY(-10px);
  opacity: 1;
}
.card:hover .card-description {
  opacity: 1;
}

/*Pop-ups da reserva*/

.card-modal-container {
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  justify-content: center;
  left: 0;
  height: 100vh;
  width: 100vw;
  animation: .4s showUp ease-in-out;
}

.card-modal {
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  padding: 1.25rem 1.5rem;
  width: auto;
  max-width: 100%;
  gap: 0.25rem;
  text-align: center;
  color: #1c1c31;
  animation: .8s showUp ease-in-out;
}

.card-modal h1 {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  color: black;
  font-weight: 600;
}

.card-modal p {
  font-size: 0.5rem;
  color: #1c1c31;
  margin: 0 !important;
  padding: 0;
}

.equipList {
  font-size: 0.5rem;
}

.card-modal li {
  margin-top: 5px;
  font-weight: 500;
}

.card-modal ul {
  list-style-type: disc;
}

.card-modal-container button {
  width: 35%;
  color: #292944;
  /* font-size: 1vw; */
  font-size: 0.5rem;
  font-weight: 600;
  padding: 0.65rem;

  background: #edb700;
  border: 0;
  border-radius: 20px;

  outline: none;
  cursor: pointer;

  margin-top: 2.5dvh;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

#modal {
  width: 100%;
  max-width: 90vw;
}

.date-picker-wrapper {
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}

.react-datepicker {
  max-width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.react-datepicker__navigation--previous {
  left: -16%;
}

.react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
  right: -16%;
}

.react-datepicker__navigation {
  align-items: center;
  background: none !important;
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: pointer !important;
  position: absolute;
  top: 2px;
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
  z-index: 1;
  height: 32px;
  width: 7.5rem !important;
  text-indent: -999em;
  overflow: hidden;
}

/*Nome de usuário e animação*/

.user {
  position: absolute;
  left: 0px;
  top: 16.5%;
  width: 15vw;
  height: 8vh;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
  background: #00b6ca;
  color: white;
  font-family: 'poppins',sans-serif;

  animation-delay: 0s;

  animation: slidein 3.5s ease-in-out forwards;
  -o-animation: slidein 3.5s ease-in-out forwards;
  -moz-animation: slidein 3.5s ease-in-out forwards;
  -webkit-animation: slidein 3.5s ease-in-out forwards;
  -ms-zoom-animation: slidein 3.5s ease-in-out forwards;

  animation-direction: alternate;
}

@-webkit-keyframes slidein {
0% {
  opacity: 0;
  transform: translateY(-60%);
}
20% {
  opacity: 0;
}
50% {
  opacity: 1;
  transform: translateY(0%);
}
70% {
  opacity: 1;
  transform: translateY(0%);
}
100% {
  opacity: 1;
  transform: translateY(0%);
  transform: translateX(-100%);
  opacity: 0;
}
}

@-o-keyframes slidein {
0% {
  opacity: 0;
  transform: translateY(-60%);
}
20% {
  opacity: 0;
}
50% {
  opacity: 1;
  transform: translateY(0%);
}
70% {
  opacity: 1;
  transform: translateY(0%);
}
100% {
  opacity: 1;
  transform: translateY(0%);
  transform: translateX(-100%);
  opacity: 0;
}
}

@-moz-keyframes slidein {
0% {
  opacity: 0;
  transform: translateY(-60%);
}
20% {
  opacity: 0;
}
50% {
  opacity: 1;
  transform: translateY(0%);
}
70% {
  opacity: 1;
  transform: translateY(0%);
}
100% {
  opacity: 1;
  transform: translateY(0%);
  transform: translateX(-100%);
  opacity: 0;
}
}

@-ms-keyframes slidein {
0% {
  opacity: 0;
  transform: translateY(-60%);
}
20% {
  opacity: 0;
}
50% {
  opacity: 1;
  transform: translateY(0%);
}
70% {
  opacity: 1;
  transform: translateY(0%);
}
100% {
  opacity: 1;
  transform: translateY(0%);
  transform: translateX(-100%);
  opacity: 0;
}
}

@keyframes slidein {
0% {
  opacity: 0;
  transform: translateY(-60%);
}
20% {
  opacity: 0;
}
50% {
  opacity: 1;
  transform: translateY(0%);
}
70% {
  opacity: 1;
  transform: translateY(0%);
}
100% {
  opacity: 1;
  transform: translateY(0%);
  transform: translateX(-100%);
  opacity: 0;
}

}

/*Botão painel admin*/
.painelir {
  height: 50vh;
  width: 100%;
  background-image: url(/src/assets/img/etpc2.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.painelir h2 {
  color: #edb700;
  font-size: 1.5rem;
}

.painelir button {
  color: #edb700;
  background: #24243a;
  padding: 20px 25px;
  font-size: 0.65rem;
  cursor: pointer;
  transition: 0.5s;
  text-transform: uppercase;
}

.painelir button:hover {
  background: #edb700;
  color: #24243a;
}

.Btn-painelir {
  background: transparent;
  border: 0px solid var(--button-color, #000);
  border-radius: 1rem;
}






/*Contato ETPC */

#footer {
  background-color: #333;
  color: #fff;
  position: relative;
  width: 100%;
  clear: both; /* Garante que o footer se posiciona após o conteúdo */
}

#footer .rodape-content {
  width: 100%;
  height: 45vh;
  background-color: #292944;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contatos-logo {
  width: 30vw;
}

.contatos-etpc {
  width: 95%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.primeira-coluna {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contatos-sub {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contatos-sub h4 {
  color: white;
  font-weight: bold;
  font-size: 2vw;
}

.input-contato {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  margin-bottom: 1dvh;
}

.input-contato h3 {
  color: #03cfe6;
  cursor: pointer;
  transition: 0.3s;
  font-size: 3vw;
  vertical-align: middle;
}

.input-contato h3:hover {
  color: white;
}

.input-contato input {
  color: black;
  outline: none;
  width: 30vw;
  border-radius: 0.15rem;
  padding: 0.15rem;
}

.resto-contatos-sub {
  display: flex;
  flex-direction: column;
  margin-top: 0.2rem;
  gap: 1rem;
  font-size: 1.85vw;
}

.resto-contatos-sub span {
  color: white;
}

.resto-contatos-sub h3 {
  color: white;
  font-size: 1.85vw;
}

.segunda-coluna-links {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  font-size: 0.45rem;
  
}

.segunda-coluna-links a {
  text-decoration: none;
  color: #D9D9D9;

  font-weight: bold;
  transition: 0.3s;
}

.segunda-coluna-links a:hover {
  color: #a5a5a5;
}

.terceira-coluna-social {
  height: auto;
  align-items: end;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.terceira-coluna-social i {
  font-size: 1.65rem;
  text-decoration: none;
  color: white;
  transition: 0.3s;
  display: flex;
}

.terceira-coluna-social i:hover {
  color: #9e9e9e;
}

#footer .footer-tag {
  width: 100%;
  height: 10.5vh;
  background: #00B6CA;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tag-content {
  width: 95%;
  display: flex;
  height: 10vh;
  align-items: center;
  gap: 0.65rem;
}

.tag-content span {
  color: white;
  font-size: 0.35rem;
}

.etpc-direitos {
  width: 80%;
  display: flex;
  align-items: center;
  text-align: start;
}

.etpc-direitos p {
  color: white;
  font-size: 0.35rem;
  font-weight: 500;
  margin: 0;
}

.logo-ace {
  width: 20%;
  display: flex;
  justify-content: end;
}

.logo-ace img {
  height: auto;
  min-height: 5vh;
  opacity: 0.6;
  transition: 0.3s;
}

.logo-ace img:hover {
  opacity: 1;
  cursor: pointer;
}

/* Agenda com range de datas e horários  */

.date-range-toggle {
  display: flex;
  gap: 4px;
}

.date-range-toggle button {
  background-color: #e5e5e5;
  border: none; 
  border-radius: 4px; 
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.date-range-toggle button:hover {
  background-color: #e0e0e0;
}

.date-range-toggle button.active {
  background-color: #d0d0d0;
}

.date-range-toggle .label {
  font-size: 14px;
  color: #333;
}

.date-range-toggle .selected-date {
  font-size: 12px;
  color: #666;
}

.clear-date-btt {
  margin: 0 !important;
  width: auto;
  height: auto;
  border-radius: 1rem !important;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  display: flex;
  float: inline-end;
  background-color: #e5e5e5;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  color: #292944;
  font-size: 0.5rem;
  font-weight: 600;
  outline: none;
  appearance: inherit;
  -webkit-appearance: button;
  text-transform: none;
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

.react-datepicker__header--time {
  height: 3.65rem;
  align-items: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
}

/* Scroll da sidebar */

.p-scrollpanel.custombar1 .p-scrollpanel-bar {
  background-color: #9e9e9e;
  opacity: 1;
  transition: background-color .3s;
}

.p-scrollpanel.custombar1 .p-scrollpanel-bar-x {
  display: none !important;
}


/*Ajustes de tela para todos os dispositivos*/

@media (min-width:280px) {}

@media (min-width:320px) {}

@media (min-width:481px)  {}

@media (max-width:641px)  {
  .react-datepicker__time-container {
    width: 19dvw;
  }
  
  .react-datepicker__time {
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    display: flex;
  }
}

@media (min-width:961px)  {}

@media (min-width:1024px) {}

@media (min-width:1281px) {}